/* =========================================================================
  l-inner
========================================================================= */
.l-inner {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
}
