<section class="p-about js-pin--about">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en"><span class="c-heading--blue">A</span>bout
      <span class="c-heading__jp" lang="ja">自己紹介</span></h2>
    <!-- /.c-heading -->
    <div class="p-about__inner">
      <div class="p-about__content">
        <section class="p-profile">
          <h3 class="c-introduce__title" lang="en">profile</h3>
          <dl class="c-introduce__list">
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">name</dt><dd class="c-introduce__description">長濱 元基</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">age</dt><dd class="c-introduce__description">31</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">address</dt><dd class="c-introduce__description">大阪府吹田市</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">family</dt><dd class="c-introduce__description">妻、娘(3歳)の3人家族</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">hobby</dt><dd class="c-introduce__description">
                <ul class="c-introduce__sublist">
                  <li class="c-introduce__subitem">キャンプ</li>
                  <li class="c-introduce__subitem">映画鑑賞</li>
                  <li class="c-introduce__subitem">DIY</li>
                  <li class="c-introduce__subitem">アウトドアショップ巡り</li>
                </ul>
              </dd>
            </div>
            <!-- /.c-introduce__item -->
          </dl>
        </section>
        <!-- /.p-profile -->
        <section class="p-skill l-spacer">
          <h3 class="c-introduce__title" lang="en">skill</h3>
          <dl class="c-introduce__list">
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">HTML</dt>
              <dd class="c-introduce__description">サイトに訪れた方がストレスを感じないようマークアップすることを心がけています。また、コーディング時にはEJSを使用し、効率良く構築しています。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">CSS</dt>
              <dd class="c-introduce__description">CSS設計はFLOCSSを用いて、可読性・保守性の高いコーディングを心がけています。また、Sassを使用し、効率の良いコーディングを行っております。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">JavaScript</dt>
              <dd class="c-introduce__description">jQueryが中心でしたが、Vanilla JSで書けるよう日々try & error を繰り返しています。ゆくゆくはVueやwebGLにも挑戦していきます。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">PHP</dt>
              <dd class="c-introduce__description">WordPressを中心になりますが、既存テーマのカスタマイズやオリジナルテーマでの作成も可能です。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term" lang="en">design</dt>
              <dd class="c-introduce__description">デザイン作成時はFigmaを中心に作成しています。webサイトのデザインだけでなく、プレゼン資料等もFigmaで作成しております。Adobe XD,Photoshop,illustratorも基本的な操作は一通り可能ですが、まだまだ勉強中です。</dd>
            </div>
            <!-- /.c-introduce__item -->
          </dl>
        </section>
        <!-- /.p-skill -->
        <section class="p-career l-spacer">
          <h3 class="c-introduce__title" lang="en">carrer</h3>
          <dl class="c-introduce__list">
            <div class="c-introduce__item">
              <dt class="c-introduce__term"><time>2013-04</time></dt>
              <dd class="c-introduce__description">株式会社オリエントコーポレーションに新卒で就職。広島クレジットセンターに配属され、主に車のローン審査を担当しました。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term"><time>2015-10</time></dt>
              <dd class="c-introduce__description">大阪東支店へ配属となり、法人営業に携わる。主に大阪市内の阿倍野区以南を担当し、審査ノウハウを活かした営業で営業2年目で支店内の目標達成率年間1位を獲得しました。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term"><time>2019-04</time></dt>
              <dd class="c-introduce__description">戦略推進担当という役員直轄の新設部署に配属。当時注力事業であった売掛金の保証サービスの推進やクレジットカード事業を推進。また、営業拠点の担当者へ営業方法のレクチャーやサポートも実施しました。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term"><time>2020-09</time></dt>
              <dd class="c-introduce__description">株式会社オリエントコーポレーションを退職し、現職の丸紅エレネクスト株式会社へ転職。リスクマネジメントチームに配属され、取引先の与信管理を行っております。当時、煩雑だった申請をwebでシステム化し、業務効率化を推進しました。</dd>
            </div>
            <!-- /.c-introduce__item -->
            <div class="c-introduce__item">
              <dt class="c-introduce__term"><time>2021-01</time></dt>
              <dd class="c-introduce__description">web制作の学習を独学で開始。ネットやYouTubeの教材を基に学習をしていき、半年後に初めて企業のHP制作に携わらせていただきました。現在もページの改修などで継続的なお付き合いをいただいております。</dd>
            </div>
            <!-- /.c-introduce__item -->
          </dl>
        </section>
        <!-- /.p-career -->
      </div>
      <!-- /.p-about__content -->
      <figure class="p-about__img">
        <img src="<%= meta.imgPath %>about.jpg" alt="">
      </figure>
      <!-- /.p-about__img -->
    </div>
    <!-- /.p-about__inner -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-about -->
