<section class="p-achievement">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en">Ach<span class="c-heading--blue">i</span>evement
      <span class="c-heading__jp" lang="ja">制作実績</span></h2>
    <!-- /.c-heading -->
    <div class="p-achievement__inner">
      <p class="p-achievement__text">
        今まで作成した実績を<br>少しだけご紹介させていただきます。
      </p>
      <!-- /.p-achievement__text -->
      <div class="p-achievement__container">
        <div class="p-achievement__content">
          <h3 class="p-achievement__heading" lang="en">
            data
          </h3>
          <!-- /.p-achievement__heading -->
          <dl class="p-achievement__list">
            <div class="p-achievement__item">
              <dt class="p-achievement__term" lang="en">client</dt>
              <dd class="p-achievement__discription">サンプル様</dd>
            </div>
            <!-- /.p-achievement__item -->
            <div class="p-achievement__item">
              <dt class="p-achievement__term" lang="en">role</dt>
              <dd class="p-achievement__discription" lang="en">design / coding</dd>
            </div>
            <!-- /.p-achievement__item -->
            <div class="p-achievement__item">
              <dt class="p-achievement__term" lang="en">summary</dt>
              <dd class="p-achievement__discription p-achievement__discription--alignleft">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </div>
            <!-- /.p-achievement__item -->
          </dl>
          <div class="p-achievement__link">
            <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>capture</span><span class="iconify" data-icon="clarity:picture-line"></span></a></p>
            <!-- /.p-achievement__btn -->
            <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>link</span><span class="iconify" data-icon="radix-icons:external-link"></span></a></p>
            <!-- /.p-achievement__btn -->
          </div>
          <!-- /.p-achievement__link -->
        </div>
        <!-- /.p-achievement__content -->
        <div class="p-achievement__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://picsum.photos/300/200" alt="">
            </div>
            <!-- /.swiper-slide -->
          </div>
          <!-- /.swiper-wrapper -->
        </div>
        <!-- /.p-achievement__img -->
      </div>
      <!-- /.p-achievement__container -->
    </div>
    <!-- /.p-achievement__inner -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-achievement -->
