<section class="p-achievement js-slide-scroll">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en">Ach<span class="c-heading--blue">i</span>evement
      <span class="c-heading__jp" lang="ja">制作実績</span></h2>
    <!-- /.c-heading -->
    <div class="p-achievement__inner">
      <p class="p-achievement__text">
        今まで作成した実績を<br>少しだけご紹介させていただきます。
      </p>
      <!-- /.p-achievement__text -->
      <div class="p-achievement__scroll-wrapper">
        <ul class="p-achievement__list">
          <li class="p-achievement__item">
            <h3 class="p-achievement__title">
              サンプル様&emsp;HP
            </h3>
            <!-- /.p-achievement__title -->
            <p class="p-achievement__role" lang="en">design/coding</p>
            <!-- /.p-achievement__role -->
            <p class="p-achievement__content">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
            <!-- /.p-achievement__content -->
            <figure class="p-achievement__figure">
              <img src="<%= meta.imgPath %>webp/fv01.webp" alt="" class="p-achievement__img">
            </figure>
            <div class="p-achievement__link">
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>capture</span><span class="iconify" data-icon="clarity:picture-line"></span></a></p>
              <!-- /.p-achievement__btn -->
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>link</span><span class="iconify" data-icon="radix-icons:external-link"></span></a></p>
              <!-- /.p-achievement__btn -->
            </div>
            <!-- /.p-achievement__link -->
          </li>
          <!-- /.p-achievement__item -->
          <li class="p-achievement__item">
            <h3 class="p-achievement__title">
              サンプル様&emsp;HP
            </h3>
            <!-- /.p-achievement__title -->
            <p class="p-achievement__role" lang="en">design/coding</p>
            <!-- /.p-achievement__role -->
            <p class="p-achievement__content">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
            <!-- /.p-achievement__content -->
            <figure class="p-achievement__figure">
              <img src="<%= meta.imgPath %>webp/fv01.webp" alt="" class="p-achievement__img">
            </figure>
            <div class="p-achievement__link">
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>capture</span><span class="iconify" data-icon="clarity:picture-line"></span></a></p>
              <!-- /.p-achievement__btn -->
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>link</span><span class="iconify" data-icon="radix-icons:external-link"></span></a></p>
              <!-- /.p-achievement__btn -->
            </div>
            <!-- /.p-achievement__link -->
          </li>
          <!-- /.p-achievement__item -->
          <li class="p-achievement__item">
            <h3 class="p-achievement__title">
              サンプル様&emsp;HP
            </h3>
            <!-- /.p-achievement__title -->
            <p class="p-achievement__role" lang="en">design/coding</p>
            <!-- /.p-achievement__role -->
            <p class="p-achievement__content">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
            <!-- /.p-achievement__content -->
            <figure class="p-achievement__figure">
              <img src="<%= meta.imgPath %>webp/fv01.webp" alt="" class="p-achievement__img">
            </figure>
            <div class="p-achievement__link">
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>capture</span><span class="iconify" data-icon="clarity:picture-line"></span></a></p>
              <!-- /.p-achievement__btn -->
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>link</span><span class="iconify" data-icon="radix-icons:external-link"></span></a></p>
              <!-- /.p-achievement__btn -->
            </div>
            <!-- /.p-achievement__link -->
          </li>
          <!-- /.p-achievement__item -->
          <li class="p-achievement__item">
            <h3 class="p-achievement__title">
              サンプル様&emsp;HP
            </h3>
            <!-- /.p-achievement__title -->
            <p class="p-achievement__role" lang="en">design/coding</p>
            <!-- /.p-achievement__role -->
            <p class="p-achievement__content">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
            <!-- /.p-achievement__content -->
            <figure class="p-achievement__figure">
              <img src="<%= meta.imgPath %>webp/fv01.webp" alt="" class="p-achievement__img">
            </figure>
            <div class="p-achievement__link">
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>capture</span><span class="iconify" data-icon="clarity:picture-line"></span></a></p>
              <!-- /.p-achievement__btn -->
              <p class="p-achievement__btn" lang="en"><a href="#" class="p-achievement__icon"><span>link</span><span class="iconify" data-icon="radix-icons:external-link"></span></a></p>
              <!-- /.p-achievement__btn -->
            </div>
            <!-- /.p-achievement__link -->
          </li>
          <!-- /.p-achievement__item -->
        </ul>
        <!-- /.p-achievement__list -->
      </div>
      <!-- /.p-achievement__scroll-wrapper -->
    </div>
    <!-- /.p-achievement__inner -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-achievement -->
