<section class="p-favorite">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en">F<span class="c-heading--blue">a</span>vorite
      <span class="c-heading__jp" lang="ja">お気に入りのビーズ製品TOP3</span></h2>
      <!-- /.c-heading -->
      <ol class="p-favorite__list">
        <li class="p-favorite__item">
          <div class="p-favorite__heading">
            <span class="p-favorite__num p-favorite__num--01">No.1</span>
            <h3 class="p-favorite__title js-blur">
              <span class="p-favorite__en-title" lang="en">tequila table</span>
              <span class="p-favorite__ja-title">テキーラテーブル</span>
            </h3>
          </div>
          <div class="p-favorite__container">
            <p class="p-favorite__text js-fade">
              キャンプに興味を持って、初めて購入した思い出のギアです。<br>ネットで見つけた時、「テーブルは絶対コレがいい！」と思い、購入しようとするも品切れ中の文字が...<br>入荷を待ち続け、再販の知らせを見て、すぐに購入！届いた時は嬉しくて、ベランダに出して家族とご飯を食べたり、家にいながらアウトドア感を感じられました。<br>使い勝手、拡張性が高く、今ではテキーラキッチンと合わせて使ったり、買ってきた木材をペイントして使ったりとアレンジしながら、キャンプに行く際のマストアイテムになっています。<br>キャンプだけでしか使わないのはもったいなくて、仕事部屋兼キャンギア収納部屋のインテリアとしても大活躍中です。
            </p>
            <!-- /.p-favorite__text -->
            <figure class="p-favorite__figure p-favorite__figure--01 js-fade">
              <img src="<%= meta.imgPath %>tequila-sp.jpg" alt="" class="p-favorite__img">
            </figure>
            <!-- /.p-favorite__img -->
          </div>
          <!-- /.p-favorite__container -->
        </li>
        <!-- /.p-favorite__item -->
        <li class="p-favorite__item">
          <div class="p-favorite__heading">
            <span class="p-favorite__num p-favorite__num--02">No.2</span>
            <h3 class="p-favorite__title js-blur">
              <span class="p-favorite__en-title">petit-moe fire</span>
              <span class="p-favorite__ja-title">ぷちもえファイヤー</span>
            </h3>
          </div>
          <!-- /.p-favorite__heading -->
          <div class="p-favorite__container">
            <p class="p-favorite__text js-fade">
              憧れていた二次燃焼を手軽に楽しめるこちらのギアです。<br>めちゃもえファイヤーと迷いましたが、手軽さとソロ用に持っていきたかったので、こちらを購入しました。結果として、コンパクトなのに二次燃焼の美しさを楽しめつつ、火の付きも良く大満足でした。<br>ちなみにこちらは、初のソロキャンプで命を救ってくれたと言っても過言ではないギアであり、御社サポート担当の路次様の対応にとても感動したギアでもあります。エピソードは少し長くなってしまいそうなので、詳細についてはぜひ面接の場でお伝えさせてください！。
            </p>
            <!-- /.p-favorite__text -->
            <figure class="p-favorite__figure js-fade">
              <img src="<%= meta.imgPath %>putitmoe.jpg" alt="2次燃焼の炎がとてもキレイ楽しめ、かつコンパクトな焚き火台" class="p-favorite__img">
            </figure>
            <!-- /.p-favorite__figure -->
          </div>
          <!-- /.p-favorite__container -->
        </li>
        <!-- /.p-favorite__item -->
        <li class="p-favorite__item">
          <div class="p-favorite__heading">
            <span class="p-favorite__num p-favorite__num--03">No.3</span>
            <h3 class="p-favorite__title js-blur">
              <span class="p-favorite__en-title">horo colori mug</span>
              <span class="p-favorite__ja-title">放浪コロリマグ</span>
            </h3>
          </div>
          <!-- /.p-favorite__heading -->
          <div class="p-favorite__container">
            <p class="p-favorite__text js-fade">
              デザインに一目惚れしたギアです。<br>オフシーズンのキャンプではすぐに中の飲み物が冷めてしまうので、マグごと温め直しができる点がとても便利で、大人用にソロリマグ、子供用にコロリマグで愛用中です。<br>ただ、コロリマグ、ソロリマグの後ろに書いてある<br>「Depend On Daddy」<br>「Decide Our Dentist」<br>の意味がとても気になります...
            </p>
            <!-- /.p-favorite__text -->
            <figure class="p-favorite__figure js-fade">
              <img src="<%= meta.imgPath %>coroli.jpg" alt="子供用が使うのに最適なマグ">
            </figure>
            <!-- /.p-favorite__figure -->
          </div>
          <!-- /.p-favorite__container -->
        </li>
        <!-- /.p-favorite__item -->
      </ol>
    <!-- /.p-favorite__list -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-favorite -->
