<section class="p-future js-pin--future">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en">Futu<span class="c-heading--blue">r</span>e
      <span class="c-heading__jp" lang="ja">入社後に挑戦したいこと</span></h2>
    <!-- /.c-heading -->
    <div class="p-future__inner">
      <h3 class="p-future__heading">
        <span class="u-color__font--accent">ワクワク</span>を届ける<br>PRサイトのデザイン・構築
      </h3>
      <!-- /.p-future__heading -->
      <p class="p-future__content">
        キャンプギアを購入を検討する時にいつも気になる<br>
        「サイトの中のどこに置いたら使いやすくて、カッコよく見えるかな…」<br>
        「けっこう大きいけど区画サイト大丈夫かな…」<br>
        webサイト制作の勉強を始めた頃からの妄想していた区画サイトやテントのスペース内にテントやギアを配置したらどんな空間が出来上がるかを体験できるページを作りたい…<br>
        まだまだ妄想の域ではありますが、もし企画として通るのであれば3年後から5年後に達成したいと思っている目標です。社内のいろんな方にご意見や知識をお借りして挑戦したいです！
      </p>
      <!-- /.p-future__content -->
    </div>
    <!-- /.p-future__inner -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-future -->
