<section class="p-fv">
  <div class="l-inner">
    <div class="p-fv__container">
      <h1 class="p-fv__title" lang="en"><span>To Be-s Co.,Ltd</span></h1>
      <h2 class="p-fv__subtitle" lang="en">
        <span class="p-fv__char p-fv__char--01">p</span>
        <span class="p-fv__char p-fv__char--02">o</span>
        <span class="p-fv__char p-fv__char--03">r</span>
        <span class="p-fv__char p-fv__char--04">t</span>
        <span class="p-fv__char p-fv__char--05">f</span>
        <span class="p-fv__char p-fv__char--06">o</span>
        <span class="p-fv__char p-fv__char--07">l</span>
        <span class="p-fv__char p-fv__char--08">i</span>
        <span class="p-fv__char p-fv__char--09">o</span>
      </h2>
      <!-- /.p-fv__subtitle -->
      <div class="p-fv__dice-wrapper">
        <div class="p-fv__dice">
          <%_ for(i=0; i < 6; i++ )  { _%>
            <div class="p-fv__parts">
              <img src="<%= meta.imgPath %>webp/fv0<%- i+1 %>.webp" alt="" class="p-fv__img">
            </div>
            <!-- /.p-fv__parts -->
            <%_ } _%>
        </div>
        <!-- /.p-fv__dice -->
      </div>
      <!-- /.p-fv__dice-wrapper -->
    </div>
    <!-- /.p-fv__container -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-fv -->
<div class="p-fv__intro">
  <p class="p-fv__text js-fade">
    どんな人物なのか？<br>どんなコトができるのか？<br>すこしでもお伝えできれば幸いです。
  </p>
  <!-- /.p-fv__text -->
  </div>
  <!-- /.p-fv__intro -->
