<section class="p-lastly">
  <div class="l-inner">
    <h2 class="c-heading c-heading--white js-fade" lang="en">lastl<span class="c-heading--blue">y</span>
      <span class="c-heading__jp" lang="ja">最後に</span></h2>
    <!-- /.c-heading -->
    <div class="p-lastly__inner">
      <p class="p-lastly__content">
        最後までご覧いただきまして本当にありがとうございます。<br>
        今自分のできるコト、お伝えしたいコトを精一杯詰め込みました。<br>
        私は御社を知り、キャンプという私の人生が変わる程の趣味との出会うことができました。それと同じくらい人生が変わるほどの出来事がweb制作という分野との出会いでした。<br>
        知識や技術に限りがないこの分野が本当に大好きです。<br>
        スキルはまだまだ未熟ですが、御社の社員の皆さま、御社の製品が大好きなお客さまの為を<br>
        全力で考え、実行していきたいと考えています。
      </p>
      <!-- /.p-lastly__content -->
      <p class="p-lastly__content">
        面接でお会いできることを本当に楽しみにしております。
      </p>
      <!-- /.p-lastly__content -->
      <p class="p-lastly__name">
        長濱　元基
      </p>
      <!-- /.p-lastly__name -->
    </div>
    <!-- /.p-lastly__inner -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-lastly -->
