<section class="p-motive">
  <div class="l-inner">
    <h2 class="c-heading js-fade" lang="en">Mo<span class="c-heading--blue">t</span>ive
      <span class="c-heading__jp" lang="ja">自己紹介</span></h2>
    <!-- /.c-heading -->
    <ol class="p-motive__container">
      <li class="p-motive__item p-motive__item--01 js-icon-animation">
        <h3 class="p-motive__heading"><span class="u-color__font--accent">1.</span>モノづくりに携わりたい</h3>
        <!-- /.p-motive__heading -->
        <p class="p-motive__content">
          キャンプに興味を持つようになってから、アウトドアイベントなどで個人でギアを製作して販売している方にお会いする機会が増えました。作られた想いはもちろんですが、見えないところへの細かい配慮などもお聞きし、聞いているだけでワクワクしてしまいます。<br>
          モノづくりを一貫して行える御社であれば、商品に込める想いを純度の高いままお客様にお届けし、多くの方によりワクワクを共感していただけるのではないかと考えています。<br>
          もし御社で働くことができたら、「自分が企画から携わった商品のwebでの紹介ページなどを自分でデザインや構築してPRする」なんてことを妄想しています。
        </p>
        <!-- /.p-motive__content -->
      </li>
      <!-- /.p-motive__item -->
      <li class="p-motive__item p-motive__item--02  js-icon-animation">
        <h3 class="p-motive__heading"><span class="u-color__font--accent">2.</span>仕事とプライベートが相互に<br>影響する環境へ</h3>
        <!-- /.p-motive__heading -->
        <p class="p-motive__content">
          いま、副業としてホームページの制作に携わらせていただいております。<br>
          このお仕事は、実はキャンプを始めるにあたっての軍資金とするために始めました。ただ、今では技術を身に付ければ身に付けるほどお客様に喜んでいただけることが多くなる、どんどん新しい技術がやトレンドが生まれ、学びに終わりがないこの分野がキャンプと同じくらい好きになりました。<br>
          御社で働く方がストレスなく快適に業務できるシステムのデザインや構築で貢献することで、より多くの商品の開発や供給に寄与でき、私自身も消費者として御社の商品を楽しめるのでは、と考えています。
        </p>
        <!-- /.p-motive__content -->
      </li>
      <!-- /.p-motive__item -->
    </ol>
    <!-- /.p-motive__container -->
  </div>
  <!-- /.l-inner -->
</section>
<!-- /.p-motive -->
