@use "../../foundation" as *;
/* =========================================================================
  p-achievement
========================================================================= */
.p-achievement {
  background: $bgColor;
  padding-bottom: 64px;
  // height: 100vh;
  &__text {
    margin-top: 24px;
    text-align: center;
  }
  &__scroll-wrapper {
    margin-top: 24px;
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
  }
  &__list {
    position: absolute;
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
  }
  &__title {
    margin-top: 16px;
  }
  &__role {
    margin-top: 8px;
  }
  &__content {
    margin-top: 8px;

  }
  &__figure {
    order: -1;
    position: relative;
    width: 100%;
  }
  &__img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    align-self: flex-end;
  }
  &__btn {
    font-size: rem(16px);
    & + & {
      margin-left: 16px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    svg {
      margin-left: 0.25em;
      width: 24px;
      height: 24px;
      color: #666;
    }
  }
}
