@use "../../foundation" as*;

/* =========================================================================
  u-color
========================================================================= */
.u-color {
  &__font {
    &--main {
      color: $mainColor;
    }
    &--accent {
      color: $accentColor;
    }
    &--sub {
      color: $subColor;
    }
  }
}
